<div class="container">
  <div class="row">
    <div class="col-2"></div>
    <div class="col-8">
      <form>
        <div class="row">
          <div class="form-group col">
            <label for="name">Nombre</label>
            <input type="text" class="form-control" id="name" placeholder="Nombre Completo">
          </div>
          <div class="form-group col">
            <label for="birthdate">Fecha Nacimiento</label>
            <input type="date" class="form-control" id="birthdate" placeholder="Fecha Nacimiento">
          </div>
        </div>
        <div class="row">
          <div class="form-group col">
            <label for="address">Dirección</label>
            <input type="text" class="form-control" id="address" placeholder="Dirección Residencia">
          </div>
        </div>
        <div class="row">
          <div class="form-group col">
            <select class="custom-select">
              <option selected>Tipos de Documento</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="form-group col">
            <label for="idNumber">Número de Documento</label>
            <input type="text" class="form-control" id="idNumber" placeholder="Número de Documento">
          </div>
        </div>
        <div class="row">
          <div class="form-group col">
            <select class="custom-select">
              <option selected>Pais</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="form-group col">
            <select class="custom-select">
              <option selected>Departamento</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
          </div>
          <div class="form-group col">
            <select class="custom-select">
              <option selected>Ciudad</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
          </div>
        </div>
        <button type="submit" class="btn btn-primary custom-btn">Submit</button>
      </form>
    </div>
    <div class="col-2"></div>
  </div>
</div>