<div class="container-fluid">
  <table class="table table-striped">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre</th>
        <th scope="col">Dirección</th>
        <th scope="col">Fecha De Nacimiento</th>
        <th scope="col">Tipo Documento</th>
        <th scope="col">Número Documento</th>
        <th scope="col">País</th>
        <th scope="col">Departamento</th>
        <th scope="col">Ciudad</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Calle falsa 123</td>
        <td>12/08/2015</td>
        <td>CC</td>
        <td>123456789</td>
        <td>Colombia</td>
        <td>Antioquia</td>
        <td>Medellin</td>
        <td>
          <div class="row no-margin">
            <div class="col">
              <i class="fa fa-pencil" aria-hidden="true" (click)="modificar()"></i>
            </div>
            <div class="col">
              <i class="fa fa-trash" aria-hidden="true"></i>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>