<div class="container-fluid">
  <table class="table table-striped">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Dirección</th>
        <th scope="col">Fecha De Nacimiento</th>
        <th scope="col">Número Documento</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>{{user.name}}</td>
        <td>{{user.address}}</td>
        <td>{{user.birthDate | date}}</td>
        <td>{{user.documentNumber}}</td>
        <td>
          <div class="row no-margin">
            <div class="col">
              <i class="fa fa-pencil" aria-hidden="true" (click)="modificar(user)"></i>
            </div>
            <div class="col">
              <i class="fa fa-trash" aria-hidden="true" (click)="borrar(user.id)"></i>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<ngx-spinner bdColor="rgba(255,255,255,0.94)" size="large" color="#003891" type="pacman"></ngx-spinner>