.custom-btn {
    background-color: transparent;
    border: 1px solid #2e2e7e;
    color: #2e2e7e;
    margin: auto;
    display: block;
    margin: 20px auto;
}
.custom-btn:hover
{
    background-color: #e37300;
    border: 1px solid #e37300;
    color:#fff;
}

.custom-btn:disabled
{
    color: #2e2e7e;
    background-color: #fff;
    border-color: #2e2e7e;
}
.row{
    margin-top: 20px;
}

.title{
    margin: auto;
    display: block;
}
.no-margin
{
    margin: auto;
}
.section
{
    background-color: #2e2e7e;
    border:solid transparent;
}
.form-container
{
    background-color: #ffffff;
    border: 1px solid #ced4da;
    border-radius: 10px;
    padding: 20px;
}
.thead
{
    background-color: #2e2e7e;
}
.thead-font-color
{
    color:#ffffff;
}
.aling-right
{
    text-align: right;
}
.plus-icon
{
    padding: 14px 15px;
    color: #ffffff;
    background-color: #e37300;
    border-radius: 100%;
    text-align: center;
    margin: 10px auto;
}